<!-- Google search function -->
<script language="Javascript" type="text/javascript">
  function search_google() {
    var query = document.getElementById("google-search").value;
    window.open("https://google.com/search?q=" + query + "%20site:" + "https://stembl.github.io");
  }
</script>
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <div class="sidebar-nav-item">
		<style>
		table, tr, td, th{border-collapse:collapse;
					  background-color:#6a9fb5;
					  border: 1px solid #6a9fb5;}
		</style>
	    
		<table style="text-align:center;" width=100%;>
	  		<tr>
	    	<td style="background-color:#6a9fb5;"><a href="/">Home</a></td>
			<td style="background-color:#6a9fb5;"><a href="http://steve.embletonblog.com" target="_blank">About</a></td>
			<td style="background-color:#6a9fb5;"><a href="/resume/">Resume</a></td>
	 		</tr>
			<tr>
	    	<td><a href="/todo">To-Do</a>
			<td><a href="/books">Books</a>
			<td><a href="http://github.com/stembl">Github</a>
	 		</tr>
		</table><hr>

		<table width=100%;>
			<tr>
			<td colspan="2"style="background-color:#6a9fb5;">Search Blog: <form onsubmit="search_google()" ><input type="text" id="google-search"></form>
			</td>
			</tr>
			<tr>
			<td style="background-color:#6a9fb5;text-align:center;" width=50%><a href="/category/"><i class="fa fa-folder-open-o fa-fw fa-lg"></i></a></td>
			<td style="background-color:#6a9fb5;text-align:center;" width=50%><a href="/tag/"><i class="fa fa-tags fa-fw fa-lg"></i></a></td>
			</tr>
		</table>

    </div>
    
	{% for post in site.posts %}
      <a class="sidebar-nav-item" href="{{ post.url }}">{{ post.date | date_to_string }} &raquo; {{ post.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} EMBL LLC</br>All rights reserved
    </p>
  </div>
</div>
