<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <div class="post">
          <h1 class="post-title">
              <a href="{{ post.url }}">
                  {{ post.title }}
              </a>
          </h1>

          <span class="post-date">
              {{ post.date | date_to_string }}
      {% if post.tags != empty %} |
          {% for tag in post.tags %}
            <code class="highlighter-rouge"><a class="codinfox-tag-mark" href="/tag/#{{ tag | slugify }}"><i class="fa fa-tag fa-fw fa-lg"></i> {{ tag }}</a></code>
          {% endfor %}
        {% endif %}
          </span>

          {{ content }}

          <div class="codinfox-post-more">
              <a href="{{ post.url }}#disqus_thread">Comment</a>&nbsp;
              <a href="{{ post.url }}">Read more</a>
          </div>
          <hr/>

    </div>

    {% comment %}
    <div class="related">
      <h2>Related Posts</h2>
      <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endcomment %}

  </body>
</html>
